// Este archivo es una plantilla para el service worker de Flutter
// Se reemplazará durante la construcción con el service worker real
// Añadimos esta plantilla para asegurarnos de que los assets se manejen correctamente
